<div class="main--fold">
</div>

<main class="main--concerts">
    <header class="concerts--header">
        <h1>CONCERTS</h1>
    </header>
    <section class="concerts--upcoming">
        <% unless @upcoming_concerts.count == 0 %>
        <header class="upcoming--header">
            <h4>
                <em>upcoming concerts</em>
            </h4>
        </header>
        <% end %>
        <div class="upcoming--content">
            <% if @upcoming_concerts.count == 0 %>
                <p>No concerts scheduled. Want to book a show? Email <a href="mailto:loganrvath@gmail.com">loganrvath@gmail.com</a>.</p>
            <% end %>
            <% @upcoming_concerts.each do |concert| %>
                <%= link_to concert["tickets_link"], target: "_blank", class: "upcoming-concert" do |link| %>
                    <div class="content--concert">
                        <h4><%= concert["date"] %> / <%= concert["city"] %></h4>
                        <p>
                            <em><%= concert["name"] %></em>|<em> with <%= concert["other_bands"] %></em>
                        </p>
                        <p>
                            starts at <%= concert["time"] %>
                        </p>
                    </div>
                <% end %>
            <% end %>
        </div>
        <hr>
        <header class="past--header">
            <h4 class="past--header">
                <em>past concerts</em>
            </h4>
        </header>
        <div class="past--content">
            <% if @past_concerts.count == 0 %>
                <h5>No past concerts.</h5>
            <% end %>
            <% @past_concerts.each do |concert| %>
                <%= link_to concert["tickets_link"], target: "_blank", class: "past-concert" do |link| %>
                    <div class="content--concert">
                        <h4><%= concert["date"] %> / <%= concert["city"] %></h4>
                        <p>
                            <em><%= concert["name"] %></em>
                            <% unless concert["other_bands"] == "Logan Vath Music" %>
                             | <em>with <%= concert["other_bands"] %></em>
                            <% end %>
                        </p>
                    </div>
                <% end %>
            <% end %>
            <a href="https://www.reverbnation.com/artist/artist_shows/1345034?past=true" target="_blank">
                <p><em>See more past shows</em></p>
            </a>
        </div>
    </section>
</main>

<main class="main--news">
    <header class="news--header">
        <h1>NEWS</h1>
    </header>
    <section class="news--posts">
        <% @entries.each do |feed|%> 
            <div class="posts--content">
                <h4>
                    <a href="<%= sanitize strip_links(feed.url) %>" target="_blank">
                        <%= feed.published.strftime("%B %e, %Y") %>
                    </a>
                </h4>
                <% summary = feed.summary %>
                <% summary = summary.split("http")[0] %>
                <p class="news--text"><%= sanitize strip_links(summary) %></p>
                <p>
                    <a href="<%= sanitize strip_links(feed.url) %>" target="_blank">
                        <em>see full post</em>
                    </a>
                </p>
            </div>
        <% end %>
    </section>
    <p>
        <a href="http://facebook.com/loganvath" target="_blank">
            <em>See more posts</em>
        </a>
    </p>
</main>

<main class="main--merch">
    <header class="merch--header">
        <h1>MERCH</h1>
    </header>
    <section class="body--background">
        <% @merch.css('.leftMiddleColumns').each do |item| %>
            <% rel_url = item.get_attribute('href') %>
            <% link = "http://www.loganvath.bandcamp.com/" %>

            <% merch = item.inner_html %>
            <%= raw merch.gsub(/=('|")\//, '=\1*/').gsub(/\*\//, link.match(/(http|https):\/\/[\w.]+\//)[0]) %>  
        <% end %>
    </section>
</main>

<main class="main--contact">
    <header class="contact--header">
        <h1>CONTACT</h1>
    </header>
    <section class="body--background">
      <h3>Email Logan at <a href="mailto:loganrvath@gmail.com">loganrvath@gmail.com</a></h3>
      <div class="contact--social">
          <div class="social">
            <a href="http://facebook.com/loganvath" target="_blank">
              <div class="social--icon">
                <%= image_tag("facebook.png", :alt => "facebook") %>
              </div>
            </a>
          </div>
          <div class="social">
            <a href="http://twitter.com/loganvath" target="_blank">
              <div class="social--icon">
                <%= image_tag("twitter.png", :alt => "twitter") %>
              </div>
            </a>
          </div>
          <div class="social">
            <a href="http://soundcloud.com/loganvath" target="_blank">
              <div class="social--icon">
                <%= image_tag("soundcloud.png", :alt => "soundcloud") %>
              </div>
            </a>
          </div>
          <div class="social">
            <a href="http://instagram.com/loganvath" target="_blank">
              <div class="social--icon">
                <%= image_tag("instagram.png", :alt => "instagram") %>
              </div>
            </a>
          </div>
      </div>
    </section>
</main>