<!DOCTYPE html>
<html>
<head>
  <title>Logan Vath</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link rel="icon" type="image/png" href="/images/favicon.png" sizes="32x32">
</head>
<body class="home">

<div class="track_list">
    <div class="track_one_list view"></div>
    <div class="track_two_list"></div>
    <div class="track_three_list"></div>
    <div class="track_four_list"></div>
    <div class="track_five_list"></div>
    <div class="track_six_list"></div>
    <div class="track_seven_list"></div>
    <div class="track_eight_list"></div>
</div>
  
<div class="wrapper">
    <nav id="nav">
    <a href="/">
        <div class="logan">
            <h1>LOGAN VATH</h1>
        </div>
    </a>
    <div class="header--right">
        <div id="nav--links">
            <ul>
                <li id="concerts"><a href="/concerts">concerts</a></li>
                <li id="news"><a href="/news">news</a></li>
                <li id="merch"><a href="/merch">merch</a></li>
                <li id="contact"><a href="/contact">contact</a></li>
            </ul>
        </div>
        <hr/>
        <div class="player">
            <div class="player--buttons">
                <div id="previous">
                    <%= image_tag("rewind.png", :alt => "previous") %>
                </div>
                <div id="play">
                    <%= image_tag("play.png", :alt => "play") %>
                </div>
                <div id="pause">
                    <%= image_tag("pause.png", :alt => "pause") %>
                </div>
                <div id="next">
                    <%= image_tag("forward.png", :alt => "next") %>
                </div>
            </div>
            <% if @ids %>
                <% @ids.each_with_index do |id, index| %>
                <div class="song--title song--title-<%= index + 1 %>">
                    <% track = JSON.parse(Curl.get("http://api.soundcloud.com/tracks/#{id}?client_id=#{ENV["CLIENT_ID"]}").body_str) %>
                    <h6 id="song--title">“<%= track["title"] %>”</h6>
                </div>
                <% end %>
            <% end %>
        </div>
    <div>
    </nav>
    
    <%= yield %>
</div>
</body>
</html>
